<div class="jumbotron main-banner">
  <div class="container">
    <h1 class="text-center">
      Registro Personalizado de Identidad
    </h1>
    <h3>Almacena y procesa personas naturales y juridicas para tu empresa.</h3>
    </br>
    <div class="buttons text-center">
      <a class="btn btn-default btn-lg" href="https://github.com/Repeid/repeid/releases">Descargar Repeid</a>
      <a class="btn btn-default btn-lg" href="https://github.com/Repeid/repeid">Ver en GitHub</a>
    </div>
    </br>
    <p class="text-center" style="font-size: 12px;">
      <i class="glyphicon glyphicon-th-list"></i>
      <span class="latestVersion">1.0.0.Final</span>
    </p>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-sm-12 text-center">
      <h3>Deja de preocuparte por el registro de personas de tu sistema</h3>
      <h2 class="text-center light">Enfocate en tu logica de negocio.</h2>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <p>
        Repeid puede almacenar y procesar toda la informacion relacionada a las personas naturales y juridicas de tu empresa. Simula a instituciones como la RENIEC, SUNAT u otra institucion de su pais o localidad.
      </p>
      <a class="btn btn-default" href="https://github.com/Repeid/repeid/releases">Empezar una prueba</a>
    </div>
  </div>
  <hr>
</div>

